In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## To get started, we'll import the dataframe.

In [6]:
df = pd.read_csv('ecommerce_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  1000 non-null   int64
 1   Timestamp   1000 non-null   object
 2   ProductID   1000 non-null   int64
 3   Category    900 non-null    object
 4   Price       900 non-null    float64
 5   Quantity    1000 non-null   int64
 6   Action      1000 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [10]:
df.isna().sum()

CustomerID      0
Timestamp       0
ProductID       0
Category      100
Price         100
Quantity        0
Action          0
dtype: int64

In [ ]:
df['Category'].unique()

array(['Clothing', nan, 'Books', 'Home', 'Electronics'], dtype=object)

In [16]:
df[df['Category'].isna()]

     CustomerID   Timestamp  ProductID Category  Price  Quantity       Action
3          1072  2023-01-04          8      NaN    NaN         2         View
4          1061  2023-01-05         17      NaN    NaN         5     Purchase
28         1089  2023-01-29          6      NaN    NaN         1  Add to Cart
32         1042  2023-02-02          4      NaN    NaN         3         View
38         1062  2023-02-08          2      NaN    NaN         3  Add to Cart
..          ...         ...        ...      ...    ...       ...          ...
952        1036  2025-08-10         12      NaN    NaN         1         View
953        1001  2025-08-11         20      NaN    NaN         2     Purchase
965        1078  2025-08-23          1      NaN    NaN         1         View
976        1038  2025-09-03          7      NaN    NaN         2     Purchase
993        1025  2025-09-20          5      NaN    NaN         5  Add to Cart

[100 rows x 7 columns]

In [22]:
df['ProductID'].unique()

array([ 2, 15,  8, 17, 12, 19, 10,  9,  5,  6, 20, 13,  1, 16,  4, 11,  3,
       14, 18,  7])

In [19]:
df.head(10)

,CustomerID,Timestamp,ProductID,Category,Price,Quantity,Action
0,1052,2023-01-01,2,Clothing,125.570224,2,Add to Cart
1,1093,2023-01-02,15,Clothing,191.996781,3,Add to Cart
2,1015,2023-01-03,8,Clothing,40.645691,1,Add to Cart
3,1072,2023-01-04,8,NaN,NaN,2,View
4,1061,2023-01-05,17,NaN,NaN,5,Purchase
5,1021,2023-01-06,12,Books,369.471757,1,Add to Cart
6,1083,2023-01-07,19,Home,156.727320,1,View
7,1087,2023-01-08,10,Books,95.005236,2,Add to Cart
8,1075,2023-01-09,9,Electronics,322.401100,3,Purchase
9,1075,2023-01-10,5,Books,253.121528,1,View