In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## To get started, we'll import the dataframe.

In [23]:
df = pd.read_csv('ecommerce_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  1000 non-null   int64
 1   Timestamp   1000 non-null   object
 2   ProductID   1000 non-null   int64
 3   Category    900 non-null    object
 4   Price       900 non-null    float64
 5   Quantity    1000 non-null   int64
 6   Action      1000 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [71]:
df['Price'].nunique()

901

In [25]:
df.isna().sum()

CustomerID      0
Timestamp       0
ProductID       0
Category      100
Price         100
Quantity        0
Action          0
dtype: int64

In [26]:
df['Category'].unique()

array(['Clothing', nan, 'Books', 'Home', 'Electronics'], dtype=object)

In [27]:
df[df['Category'].isna()]

     CustomerID   Timestamp  ProductID Category  Price  Quantity       Action
3          1072  2023-01-04          8      NaN    NaN         2         View
4          1061  2023-01-05         17      NaN    NaN         5     Purchase
28         1089  2023-01-29          6      NaN    NaN         1  Add to Cart
32         1042  2023-02-02          4      NaN    NaN         3         View
38         1062  2023-02-08          2      NaN    NaN         3  Add to Cart
..          ...         ...        ...      ...    ...       ...          ...
952        1036  2025-08-10         12      NaN    NaN         1         View
953        1001  2025-08-11         20      NaN    NaN         2     Purchase
965        1078  2025-08-23          1      NaN    NaN         1         View
976        1038  2025-09-03          7      NaN    NaN         2     Purchase
993        1025  2025-09-20          5      NaN    NaN         5  Add to Cart

[100 rows x 7 columns]

In [28]:
df['ProductID'].unique()

array([ 2, 15,  8, 17, 12, 19, 10,  9,  5,  6, 20, 13,  1, 16,  4, 11,  3,
       14, 18,  7])

In [30]:
df.head(10)

,CustomerID,Timestamp,ProductID,Category,Price,Quantity,Action
0,1052,2023-01-01,2,Clothing,125.570224,2,Add to Cart
1,1093,2023-01-02,15,Clothing,191.996781,3,Add to Cart
2,1015,2023-01-03,8,Clothing,40.645691,1,Add to Cart
3,1072,2023-01-04,8,NaN,NaN,2,View
4,1061,2023-01-05,17,NaN,NaN,5,Purchase
5,1021,2023-01-06,12,Books,369.471757,1,Add to Cart
6,1083,2023-01-07,19,Home,156.727320,1,View
7,1087,2023-01-08,10,Books,95.005236,2,Add to Cart
8,1075,2023-01-09,9,Electronics,322.401100,3,Purchase
9,1075,2023-01-10,5,Books,253.121528,1,View

In [33]:
df['Category'].mode()[0]

'Clothing'

In [36]:
df.fillna({'Category': df['Category'].mode()[0]}, inplace=True)
df

,CustomerID,Timestamp,ProductID,Category,Price,Quantity,Action
0,1052,2023-01-01,2,Clothing,125.570224,2,Add to Cart
1,1093,2023-01-02,15,Clothing,191.996781,3,Add to Cart
2,1015,2023-01-03,8,Clothing,40.645691,1,Add to Cart
3,1072,2023-01-04,8,Clothing,NaN,2,View
4,1061,2023-01-05,17,Clothing,NaN,5,Purchase
...,...,...,...,...,...,...,...
995,1010,2025-09-22,15,Books,284.444932,2,Add to Cart
996,1067,2025-09-23,2,Clothing,392.558608,5,Add to Cart
997,1018,2025-09-24,1,Home,357.159952,1,Add to Cart
998,1100,2025-09-25,11,Electronics,94.323722,3,Purchase
999,1086,2025-09-26,10,Home,486.485800,4,View

In [40]:
df['Price'].mean()

np.float64(257.7055793204124)

In [41]:
df.fillna({'Price': df['Price'].mean()}, inplace=True)
df

,CustomerID,Timestamp,ProductID,Category,Price,Quantity,Action
0,1052,2023-01-01,2,Clothing,125.570224,2,Add to Cart
1,1093,2023-01-02,15,Clothing,191.996781,3,Add to Cart
2,1015,2023-01-03,8,Clothing,40.645691,1,Add to Cart
3,1072,2023-01-04,8,Clothing,257.705579,2,View
4,1061,2023-01-05,17,Clothing,257.705579,5,Purchase
...,...,...,...,...,...,...,...
995,1010,2025-09-22,15,Books,284.444932,2,Add to Cart
996,1067,2025-09-23,2,Clothing,392.558608,5,Add to Cart
997,1018,2025-09-24,1,Home,357.159952,1,Add to Cart
998,1100,2025-09-25,11,Electronics,94.323722,3,Purchase
999,1086,2025-09-26,10,Home,486.485800,4,View

In [45]:
df['CustomerID'].unique()

array([1052, 1093, 1015, 1072, 1061, 1021, 1083, 1087, 1075, 1088, 1100,
       1024, 1003, 1022, 1053, 1002, 1030, 1038, 1064, 1060, 1033, 1076,
       1058, 1089, 1049, 1091, 1059, 1042, 1092, 1080, 1062, 1047, 1051,
       1055, 1007, 1073, 1039, 1018, 1004, 1014, 1009, 1090, 1084, 1071,
       1044, 1008, 1035, 1078, 1081, 1036, 1050, 1006, 1054, 1063, 1034,
       1074, 1095, 1048, 1040, 1085, 1082, 1026, 1041, 1029, 1045, 1065,
       1001, 1011, 1005, 1028, 1012, 1023, 1037, 1099, 1086, 1027, 1079,
       1077, 1096, 1094, 1043, 1013, 1032, 1066, 1057, 1097, 1070, 1056,
       1019, 1068, 1017, 1069, 1098, 1016, 1020, 1067, 1031, 1025, 1046,
       1010])

In [58]:
df.sort_values(by='CustomerID', inplace=True)
df = df.reset_index(drop=True)
df

,CustomerID,Timestamp,ProductID,Category,Price,Quantity,Action
0,1001,2024-05-06,18,Books,270.806190,5,Add to Cart
1,1001,2023-10-18,8,Clothing,420.694570,1,Add to Cart
2,1001,2023-05-27,6,Home,381.166124,2,View
3,1001,2024-04-29,8,Home,307.369897,3,Purchase
4,1001,2024-06-19,5,Books,261.322184,3,View
...,...,...,...,...,...,...,...
995,1100,2025-09-25,11,Electronics,94.323722,3,Purchase
996,1100,2023-01-12,20,Books,346.096523,1,Purchase
997,1100,2024-09-30,10,Electronics,267.876446,5,Purchase
998,1100,2025-02-03,18,Electronics,289.618316,2,Purchase
999,1100,2023-11-22,10,Clothing,143.068695,1,Purchase

In [54]:
df['Action'].value_counts()

Action
Purchase       466
Add to Cart    271
View           263
Name: count, dtype: int64

In [55]:
df.groupby('CustomerID')['Action'].size()

CustomerID
1001    16
1002    13
1003    12
1004    11
1005    11
        ..
1096    13
1097     9
1098     7
1099    18
1100     9
Name: Action, Length: 100, dtype: int64